<!-- slideoutnavmenu Created by keleko34, a touch slide out nav menu -->
<div class="slideoutnavmenu" style="left:{{menu_left}}px">
  <div class="slideoutnavmenu__hamburger">
    <animated_hamburger isopen="{{isopen}}" ontouch="{{touch}}"></animated_hamburger>
  </div>
  <div class="slideoutnavmenu__bar" style="left:{{bar_left}}px">
    <navitem link="intro" title="Home" active="true" activated="{{onChoice}}"></navitem>
    <navitem link="documentation" title="Documentation" top="62" activated="{{onChoice}}"></navitem>
    <navitem link="get_started" title="Get Started" top="124" activated="{{onChoice}}"></navitem>
    <navitem link="download" title="Download" top="186" activated="{{onChoice}}"></navitem>
    <navitem link="playground" title="Playground" top="248" activated="{{onChoice}}"></navitem>
  </div>
</div>