<!-- slideoutnavmenu Created by keleko34, a touch slide out nav menu -->
<div class="slideoutnavmenu">
  <div class="slideoutnavmenu__hamburger">
    <animated_hamburger ontouch="{{touch}}"></animated_hamburger>
  </div>
  <div class="slideoutnavmenu__bar">
    <navitem link="intro" title="Home" active="true" onActive="{{onChoice}}"></navitem>
    <navitem link="documentation" title="Documentation" top="62" onActive="{{onChoice}}"></navitem>
    <navitem link="get_started" title="Get Started" top="124" onActive="{{onChoice}}"></navitem>
    <navitem link="download" title="Download" top="186" onActive="{{onChoice}}"></navitem>
    <navitem link="playground" title="Playground" top="248" onActive="{{onChoice}}"></navitem>
  </div>
</div>