/*********************************
 *  navbar
 *  Created by keleko34
 *  the header navbar for the site
 ********************************/

.navbar {
  position: relative;
  height:60px;
  background:#333;
  border-bottom: 2px solid #000;
  box-shadow: 0px 0px 8px -2px #000;
}

.navbar .animated_hamburger {
  right:20px;
}
