/*********************************
 *  navitem
 *  Created by keleko34
 *  a single clickable navitem for the navbar
 ********************************/

.{{local}} .navitem {
  position: absolute;
  height: 100%;
  margin-left:{{left}}px;
  top:{{top}}px;
}

.{{local}} .navitem:hover {
  background: #1b1a1a;
  box-shadow: 0px -2px 16px -4px #000 inset;
}

.{{local}} .navitem:active {
  background: #1b1a1a;
  box-shadow: 0px -2px 16px -4px #000 inset;
}

.{{local}} .navitem--active {
  background: #1b1a1a;
  box-shadow: 0px -2px 16px -4px #000 inset;
}

.{{local}} .navitem_text {
  cursor: pointer;
  color: #F1F1F1;
  font-size: 14px;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 60px;
  padding: 0px 10px;
  white-space: nowrap;
}