<!-- app_footer Created by keleko34, to show footer content on the app -->
<div class="app_footer">
  <div class="app_footer__resources">
    <div class="app_footer__resources__title">More Resources</div>
    <div class="app_footer__resources__list">
      <div class="app_footer__resources__list_title">Project</div>
      <div class="app_footer__resources__list_link">
        <a href="https://github.com/keleko34/Konnekt/">Github</a>
      </div>
      <div class="app_footer__resources__list_link">
        <a href="https://www.npmjs.com/package/konnekt/">NPM</a>
      </div>
      <div class="app_footer__resources__list_link">
        <a href="https://trello.com/b/X55aqPpM/konnektjs/">Trello</a>
      </div>
    </div>
    <div class="app_footer__resources__list">
      <div class="app_footer__resources__list_title">Learn</div>
      <div class="app_footer__resources__list_link">
        <a href="#documentation">Documentation</a>
      </div>
      <div class="app_footer__resources__list_link">
        <a href="#get_started">Getting Started</a>
      </div>
      <div class="app_footer__resources__list_link">
        <a href="#playground">Playground</a>
      </div>
      <div class="app_footer__resources__list_link">
        <a href="https://gitter.im/konnektjs/Lobby/">Gitter</a>
      </div>
    </div>
  </div>
</div>