<!-- intro Created by keleko34, This is an introductory page that shows some basic info about the konnekt library and its cool benifits -->
<div class="intro">
  <div class="intro__content">
    <div class="intro__content__left">
      <logo size="{{size}}"></logo>
      <div class="intro__content__install">
        <div class="intro__content__install__inner">
          <div class="intro__content__install__line">1.</div>
          <span class=" intro__content__install__text intro__content__install__text__1">npm </span>
          <span class="intro__content__install__text intro__content__install__text__2">install </span>
          <span class="intro__content__install__text intro__content__install__text__3">konnekt</span>
        </div>
      </div>
    </div>
    <div class="intro__content__right">
      <div class="intro__content__types">HTML, CSS, JS</div>
      <div class="intro__content__title">Konnekt Framework</div>
      <ul class="intro__content__list">
        <li>
          <span>Apps are: </span>
        </li>
        <li>
          - Simple
        </li>
        <li>
          - Modular
        </li>
        <li>
          - Designer friendly
        </li>
        <li>
          - Two way bindable
        </li>
      </ul>
      <div class="intro__content__links">
        <navitem link="get_started" title="Get Started"></navitem>
        <navitem link="documentation" left="140" title="Documentation"></navitem>
      </div>
    </div>
  </div>
  
</div>