<!-- get_started Created by keleko34, shows how to get started using the library -->
<div class="get_started">
  <div class="get_started__title">Getting Started</div>
  <div class="get_started__types">
    <div class="get_started__types__text">
      There are two ways to set up a project, You can either use the <a class="cli" href="#download">CLI Tool</a> or you can <a class="lib" href="#download">Install the Library</a> into your project using npm, this getting started guide will use the cli tool.
    </div>
  </div>
  <div class="get_started__steps">
    <div class="get_started__step">
      <div class="get_started__step_number">Step 1.</div>
      <div class="get_started__step_text">
        install the konnekt cli tool using npm with the following command
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="npm install --global konnekt-cli"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 2.</div>
      <div class="get_started__step_text">
        You can now use the konnekt cli to create a new project in any directory using the following command, this command will direct You through a series of prompts to help create a new project, this command will also set up a base component for you.
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="konnekt init"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 3.</div>
      <div class="get_started__step_text">
        To view your new page konnekt also has a development server built in, to start it just use the following command, hitting ctrl+o will automatically open a webpage to your new app.
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="konnekt server 8080"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 4.</div>
      <div class="get_started__step_text">
        You can create many new components to be placed inside Your app by simply using the create command and follow the included prompt.
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="konnekt create"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 5.</div>
      <div class="get_started__step_text">
        in order to view your new component you can add it to your entry component by simply inserting the html for it. You can also use it in the browser url by adding #nameofcomponent to the url, this acts like changing the page and swapping out the content.
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="<nameofcomponent></nameofcomponent>"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 6.</div>
      <div class="get_started__step_text">
        Lets add a dynamic bindable text to your new component, in order to do that you can first add the html to your components html file:
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="{{step_6}}"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 7.</div>
      <div class="get_started__step_text">
        Now you can add the property to the components js, the value you set here will be the default value the component will show.
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code='{{step_7}}'></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 8.</div>
      <div class="get_started__step_text">
        You can easily change this text from any point you use this component by setting its attribute name
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="{{step_8}}"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 9.</div>
      <div class="get_started__step_text">
        Now that you have created your component maybe now you want to show it to the world, there are four environments your component can be in: `dev`, `qa`, `uat` and `prod`. lets build your new component and your base component for showing in production. this command will have prompts to follow.
      </div>
      <div class="get_started__step_code">
        <ide_code theme="light" code="konnekt build"></ide_code>
      </div>
    </div>
    <div class="get_started__step">
      <div class="get_started__step_number">Step 10.</div>
      <div class="get_started__step_text">
        Go read more about the many things you can do with the konnekt framework
      </div>
      <div>
        <a href="#documentation">Documentation</a>
      </div>
    </div>
  </div>
</div>