<!-- get_started Created by keleko34, shows how to get started using the library -->
<div class="get_started">
  <div class="get_started__title">Getting Started</div>
  <div class="get_started__types">
    <div class="get_started__types__text">
      There are two ways to set up a project, You can either use the <a class="cli" href="#download">CLI Tool</a> or you can <a class="lib" href="#download">Install the Library</a> into your project using npm, this getting started guide will use the cli tool.
    </div>
  </div>
  <div class="get_started__steps">
    <div class="get_started__step">
      <div class="get_started__step_number">Step 1.</div>
      <div class="get_started__step_text">
        install the konnekt cli tool using npm with the following command
      </div>
      <div class="get_started__step_code">
        <ide_code code="{{step_1}}"></ide_code>
      </div>
    </div>
  </div>
</div>