/*********************************
 *  copy_link
 *  Created by keleko34
 *  to copy a set of text
 ********************************/

.copy_link {
  width: 75px;
  text-align: center;
  background: #79b7de;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 10px -5px #828282;
  border: 1px solid #bababa;
}

.copy_link:active {
  box-shadow: 0px 3px 11px -4px #828282 inset;
  border: 1px solid #bababa;
}

.copy_link__content {
  color: #F1F1F1;
  line-height: 35px;
}