/*********************************
 *  animated_hamburger
 *  Created by keleko34
 *  A mobile device menu bar that animates when in a open toggled state
 ********************************/

.animated_hamburger {
  position:absolute;
  height: 30px;
  width: 33px;
  cursor:pointer;
}

.animated_hamburger__bar {
  background:#D9D9D9;
  position: absolute;
  height:4px;
  border-radius: 2px;
}

.animated_hamburger__bar_1 {
  top:0px;
  left:{{barOffsets.0}}px;
}

.animated_hamburger__bar_2 {
  top:11px;
  left:{{barOffsets.1}}px;
}

.animated_hamburger__bar_3 {
  top:22px;
  left:{{barOffsets.3}}px;
}
